/* TODO: inject this in @contextmenu/core */
*[data-is-menu-item] > *[data-is-menu-group] {
  position: fixed !important;
  /* hidden by default */
  visibility: hidden;
}

:root {
  --cm-item-padding: 2px 3px;
  --cm-item-color: #333;
  --cm-item-hover-color: unset;
  --cm-item-background: unset;
  --cm-item-border: unset;
  --cm-item-border-bottom: 1px solid #ddd;
  --cm-item-hover-background: #ddd;

  --cm-group-border: 1px solid #ccc;
  --cm-group-padding: 0;
  --cm-group-background: #eee;
  --cm-group-border-radius: 5px;

}
div[data-is-menu-group] {
  border: var(--cm-group-border);
  background: var(--cm-group-background);
  border-radius: var(--cm-group-border-radius);
  padding: var(--cm-group-padding);
}

div[data-is-menu-item] {
  padding: var(--cm-item-padding);
  color: var(--cm-item-color);
  border: var(--cm-item-border);
  border-bottom: var(--cm-item-border-bottom);
  cursor: pointer;
}

/* none-inherited property */
div[data-is-menu-item] > * {
  cursor: initial;
  color: initial;
}
/* temporary inherit style for span */
div[data-is-menu-item] > span {
  color: inherit;
  cursor: inherit;
}

div[data-is-menu-item]:hover {
  background: var(--cm-item-hover-background);
}